.row
  - if @guests.present?
    %table
      %thead
        %tr
          %th Name
          %th Email Address
          %th Song
          %th Attending
      %tbody
        = render @guests
        %tr
          %td
            %strong Total
          %td
          %td
          %td{ style: 'text-align: right;'}
            %strong= @attending_total
  - else
    %p No one has RSVP'd yet. Bummer.
