%section#gifts.page__section.section__gifts
  .row
    .small-12.columns
      %h4.section-title.text-center Gifts
    .small-12.medium-6.small-centered.columns
      %p.text-center We love you deeply, and we appreciate that you’d want to give us gifts as we start our lives together. More than anything, we hope to see you on the big day!
  .row
    .small-12.medium-7.small-centered.columns
      .row
        .small-8.medium-5.columns.small-centered.medium-uncentered.medium-offset-1
          .bbb-logo
            = link_to "http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=542058480&pwsurl=" do
              = image_tag "bbb-logo.svg", alt: 'Bed Bath & Beyond Logo'
        .small-8.medium-6.columns.small-centered.medium-uncentered
          .target-logo
            = link_to "http://www.target.com/gift-registry/giftgiver?registryId=nvyZMqYrsba9fQJ_WkR0cQ&registryType=WEDDING" do
              = image_tag "target-logo.svg", alt: 'Target Logo'
