%header.mobile__header
  .row
    .small-6.columns
      = link_to '/', class: 'mobile__logo' do
        = image_tag "timandkelbel_logo.svg"
    .small-3.columns
      %button.toggleTopRSVP.small.radius.right
        RSVP
