%section#our-story.page__section.section__story
  .row
    .small-12.medium-6.columns
      %h3
        %small The Groom
        Tim Smith
      %p Austin McSweeney's blog fingerstache, fanny pack distillery pop-up fixie. Normcore distillery locavore cold-pressed. Kickstarter gentrify dreamcatcher authentic Austin shabby chic. Chia before they sold out lomo, health goth DIY letterpress YOLO fixie heirloom iPhone cornhole organic actually. Keytar Godard four dollar toast direct trade, fashion axe slow-carb occupy selfies 90's bicycle rights seitan Brooklyn forage typewriter Wes Anderson. Sartorial kitsch polaroid, synth gluten-free Thundercats four loko Schlitz
    .small-12.medium-6.columns
      %h3
        %small The Bride
        Kelly Kirk
      %p Austin McSweeney's blog fingerstache, fanny pack distillery pop-up fixie. Normcore distillery locavore cold-pressed. Kickstarter gentrify dreamcatcher authentic Austin shabby chic. Chia before they sold out lomo, health goth DIY letterpress YOLO fixie heirloom iPhone cornhole organic actually. Keytar Godard four dollar toast direct trade, fashion axe slow-carb occupy selfies 90's bicycle rights seitan Brooklyn forage typewriter Wes Anderson. Sartorial kitsch polaroid, synth gluten-free Thundercats four loko Schlitz
