%section#our-story.page__section.section__story
  .row
    .small-12.medium-6.columns
      %h3
        %small The Groom
        Tim Smith
      %p I met Kelly in the summer of 2010. We became great friends, because I felt so comfortable around her. There are people who’s presence makes the day better, and the activity that much funner; that's Kelly. She’s intelligent, fun, caring, self-sacrificing, and her wit is always one step ahead of you. Just when you think you have her figured out, she’ll surprise you by rapping a song word-for-word. There is no one like her, and I can’t believe I have the amazing honor of marrying her, sharing my life with her, and trying to make her happy.
    .small-12.medium-6.columns
      %h3
        %small The Bride
        Kelly Kirk
      %p I met Tim when he came to visit his aunt and uncle in Minnesota. I will admit that when I first met him, I would never have guessed that we would end up marrying each other, but one thing was for sure, our personalities clicked right away and we were instant friends. Over time, we became the best of friends and our chemistry was undeniable. Tim is one of the most loving, caring and genuine people that I know. He always makes me laugh and smile and always tells me what is on his mind&mdash;which I love about him. He makes me so happy and I can’t wait to spend the rest of my life with him, my best friend.
