#photos.section__photos
  .full-width
    = image_tag "timandkelbel-hero-1.jpg"
  .row
    .small-6.columns
      = image_tag "timandkelbel-hero-2.jpg"
    .small-6.columns
      = image_tag "timandkelbel-hero-3.jpg"
