%section#wedding-details.page__section.section__wedding-details
  .row
    .small-12.columns
      %h4.section-title Wedding Details
  .row
    .small-12.columns
      .responsive-iframe-container
        :erb
          <iframe src="https://www.google.com/maps/embed?pb=!1m29!1m12!1m3!1d11303.410509513302!2d-93.07873692828431!3d44.90599382680416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m14!1i1!3e6!4m5!1s0x87f7d4927270224f%3A0xe3232f26ebfc5700!2s1545+Christensen+Ave%2C+St+Paul%2C+MN+55118!3m2!1d44.899603!2d-93.068226!4m5!1s0x87f7d4ee34990ba1%3A0x857e70a76675cdf2!2s1200+Stassen+Ln%2C+St+Paul%2C+MN+55118!3m2!1d44.909822999999996!2d-93.06860499999999!5e0!3m2!1sen!2sus!4v1422739288441" width="800" height="600" frameborder="0" style="border:0"></iframe>
  .row.row__details
    .small-12.medium-5.medium-offset-1.columns
      %h4 The Ceremony
      %p
        The wedding ceremony begins at 4 PM at the Kingdom Hall of Jehovah’s Witness in West Saint Paul. The address is
        %strong 1545 Christensen Ave, St Paul, MN 55118.


    .small-12.medium-5.columns.end
      %h4 The Reception
      %p
        The reception is located at the beautiful Dakota Lodge in Thompson Park. You can arrive at the reception hall immediately after the wedding talk, and prayer for the feast will be at 5:30 PM. The address is
        %strong 1200 Stassen Ln, St Paul, MN 55118.

