%section#wedding-party.page__section.section__wedding-party
  / .row
  /   .small-12.columns
  /     %h4.section-title Wedding Party
  .row
    .small-12.columns
      %ul.inline-list
        %li Bridesmaids
        %li Stacy O’Connor
        %li Deannda Nelson
        %li Danielle Meyer
        %li Abigaíl Prado
    .small-12.columns
      %ul.inline-list
        %li Groomsmen
        %li Celestine Ogbebor Jr.
        %li Philip Lewis
        %li Casey Meyer
        %li Felipe Prado
