%section.with-picture-bg
  = image_tag "timandkel-temp.jpg"
  .row.bottom-aligned
    .small-12.medium-10.small-centered
      %h1.statement.text-center Are Getting Married!
      %h2.subheader.statement-sub.text-center 05.09.2015
