
/*

BITS
-------------------------------------------
Table of Contents

	- Colors

	- Spacing

------------------------------------------- */


/*

COLORS
-------------------------------------------
@colors

Color Variables
------------------------------------------- */

$darkColor: #031b28;
$bodyColor: #939598;
$linkColor: #b52f74;
$borderColor: #eee;
$jazzColor: #09a565;


$alertColor: #ecc8c5;
$infoColor: #cee8f5;
$warningColor: #f8f3d6;
$successColor: #def2d6;



/*

SPACING
-------------------------------------------
@spacing

Spacing Variables
------------------------------------------- */

$spacing-xxs: 15px;
$spacing-xs: 20px;
$spacing-s: 40px;
$spacing-m: 50px;
$spacing-l: 60px;
$spacing-xl: 70px;
$spacing-xxl: 80px;
$spacing-xxxl: 100px;
