/*

FOOTER
---------------------------------------------------------

*/

.site__footer {
  background: darken($jazzColor, 10%);
  padding: $spacing-xs 0;
  .guests & {
    visibility: hidden;
  }
}

.copyright {
  color: darken($jazzColor, 20%);
  font-size: .95em;
}
