/*

MAIN CONTENT
---------------------------------------------------------

*/

.content__wrapper {
  .rsvpShow & {
    @include filter(blur(5px) grayscale(70%));
  }
}

.site__statement {
  background: url(image-path("timandkelbel-hero.jpg")) no-repeat;
  background-size: cover;
  padding: 35% 0 2%;
}

.statement {
  color: rgba(white, .8);
  font-size: 4em;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 130%;
  text-transform: uppercase;
  @extend %sans;
  @include breakpoint(l) {
    font-size: 3.2em;
  }
  @include breakpoint(s) {
    font-size: 1.5em;
  }
}

.statement-sub {
  color: rgba(white, .6);
  font-size: 1.8em;
  font-weight: 300;
  text-transform: uppercase;
  @extend %sans;
  @include breakpoint(l) {
    font-size: 1.5em;
  }
  @include breakpoint(s) {
    font-size: 1em;
  }
}


/*
OUR STORY ---------------------------------- */

.section__story {
  h3 {
    font-size: 2.75em;
    font-weight: 300;
    small {
      color: #999;
      display: block;
      margin: 0 0 10px;
      font-size: 45%;
      // font-weight: 300;
      text-transform: uppercase;
      @extend %sans;
    }
  }
  p {
    @include breakpoint(m) {
      margin: 0 0 $spacing-m;
    }
  }
}

/*
PHOTOS ------------------------------------- */


/*
WEDDING PARTY ------------------------------ */

.section__wedding-party {
  background: $darkColor;
  .section-title {
    color: $linkColor;
  }
  .inline-list {
    font-size: 1.15em;
    font-weight: 300;
    li {
      color: white;
      &:first-child {
        color: $linkColor;
        text-transform: uppercase;
        @extend %sans;
      }
    }
  }
}

/*
WEDDING DETAILS ---------------------------- */

.row__details {
  margin-top: $spacing-m;
}

/*
GIFTS -------------------------------------- */

.section__gifts {
  background: $jazzColor;
  h4 {
    color: white;
  }
  p {
    color: rgba(white, .85);
    margin-bottom: $spacing-m;
  }
}

.bbb-logo {
  @include breakpoint(m) {
    margin-bottom: $spacing-xs;
  }
}





























