/*

MAIN CONTENT
---------------------------------------------------------

*/

.statement {
  color: white;
  font-size: 4em;
  font-weight: 800;
  @extend %sans;
}

.statement-sub {
  color: white;
  font-size: 2.5em;
}

