
.rsvp__wrapper {
  background: rgba($linkColor, .95);
  padding: 8% 0;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow: scroll;
  @extend %clearfix;
  @extend %sans;
}

.huge {
  color: white;
  font-size: 10em;
  font-weight: 800;
  letter-spacing: 22px;
  line-height: 100%;
  text-align: center;
  @include breakpoint(s) {
    font-size: 5em;
    letter-spacing: 5px;
  }
}

.rsvp__header {
  margin-bottom: $spacing-l;
  h2.subheader {
    color: rgba(white, .7);
    font-size: 1.2em;
    @include breakpoint(s) {
      font-size: 1em;
    }
  }
  @include breakpoint(s) {
    margin-bottom: $spacing-s;
  }
}

.new_guest {
  label {
    color: white;
    font-size: .95em;
    text-transform: uppercase;
    @extend %sans;
    abbr {
      color: $darkColor;
    }
  }
  input:not(.button) {
    border: 0;
    box-shadow: none;
    font-size: 1.1em;
    height: auto;
    &:focus {
      background: #feffda;
      border: 0;
      box-shadow: none;
    }
  }
  .hint {
    color: rgba(white, .6);
  }
}

/* Top Push Bar */

.top-push-rsvp {
  @include transform(translateY(-100%));
  @include transition(300ms ease);
  visibility: hidden;
  .rsvpShow & {
    @include transform(translateY(0));
    visibility: visible;
  }
}
